{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">


     <link rel="stylesheet" href="{%static 'query/ooo.css' %}" type="text/css">
     <link href="{% static 'query/bootstrap.min.css' %}" rel="stylesheet">

     <link rel="stylesheet" type="text/css" href="{%static 'query/search.css'%}">


    <title>i-Care!</title>





    <link href="{% static 'query/navbars.css'%}" rel="stylesheet">
<style>
html
{
height:100%;
box-sizing:border-box;
}
body{
        background-image: url("ee.jpg ");
    margin: 0;

postion:relative;

min-height:100%;
  } 
 
</style>



  </head>
  <body>
    <header>

<div class="branding-bar pa-bg">
<img alt="i-Care Preview" src="{%static 'query/images/med.jpg'%}" class="img-circle" width="60" height="60">

        <ul class="top-nav">
            <li><a href="#"><b>i-Care</b></a></li>

        </ul></div>
<div id="mobile-menu">
       <div class="topics" >
        <div class="scrollable">


          <ul class="topics-list">
            <li  class="active" >
              <a href="{%url 'scrapedstories:mystory'%}" >Stories</a>
            </li>
            <li class="flag pro-bg--before">
              <a href="{%url 'userauth:profile'%}" >Profile</a>
            </li>
            <li class="flag sha-bg--before">
              <a href="{%url 'share:share'%}" >Share</a>
            </li>
            <li class="flag qa-bg--before">
              <a href="{%url 'query:queryhome'%}" >Askit</a>
            </li>

          </ul>

        </div><!-- div.scrollable -->
        <a href="{% url 'userauth:logout'%}" class="sa">Logout</a>
      </div><!-- div.topics -->

    </div><!-- div.mobile-menu -->



</header>
    <div class="col-md-8">
  <form action="{% url 'query:solution' q_id%}" method="post">
      {% csrf_token %}
    <!--<div class="form-group">-->
      <!--<br><label for="question"> <b>Type your question here::  </b></label>-->
      <br/>
      <div class="fieldWrapper">
        {{form.soln_text.errors}}
        <!--<label for="{{form.query_text.id_query_text}}">User Name:</label>-->
      <br><label for="question"> <b>Type your answer here::  </b></label>
        {{form.soln_text}}
      <!--</div>-->

    </div>
    <!--<a href="#" class="btn btn-success"> Submit</a>-->
    <button type="submit" class="btn btn-success">Submit answer</button>
  </form>
</div>
    <div class="container-fluid">
        {% for solution in soln%}
<div class="row">
		<div class="col-md-2"></div>

<div class="col-md-8">


<table class="table table-striped table-bordered"
 align="center" border="1">

 
<tr>

<td>
<p>Vote here!!</p>
      <form action="{%url 'query:upvote' solution.id %}" method="post">
      {% csrf_token %}
        <button type="submit" class="btn btn-success">Upvote</button>
  </form>
<br>
  <h2> {{solution.vote}} </h2>

  <br>

 <form action="{%url 'query:downvote' solution.id %}" method="post">
      {% csrf_token %}
        <button type="submit" class="btn btn-success">Downvote</button>
  </form>

</td>

<td>{{solution.soln_text}}</td>

</tr> <tr> <h5><span class="glyphicon glyphicon-time"></span> Post by {{solution.user_posted.username}}, {{solution.written}}.</h5> </tr>
</table>
</div>
<div class="col-md-2"></div>
</div>
        {%endfor%}

<!--<div class="row">
		<div class="col-md-2"></div>

<div class="col-md-8">


<table class="table table-striped table-bordered"
 align="center" border="1">
<tr>

<td>
<p>Vote here!!</p>

<a href="#" class="btn btn-success">UpVote</a>
<br><br>

<a href="#" class="btn btn-success">DownVote</a>

</td>


<td> Answer</td>
</tr>
<tr> <h5><span class="glyphicon glyphicon-time"></span> Post by Jane Dane, Sep 27, 2015.</h5> </tr>
</table>
</div>
<div class="col-md-2"></div>
</div>

<div class="row">
		<div class="col-md-2"></div>

<div class="col-md-8">


<table class="table table-striped table-bordered"
 align="center" border="1">
<tr>

<td>
<p>Vote here!!</p>

<a href="#" class="btn btn-success">UpVote</a>
<br><br>

<a href="#" class="btn btn-success">DownVote</a>

</td>


<td> Answer</td>
</tr>

<tr> <h5><span class="glyphicon glyphicon-time"></span> Post by Jane Dane, Sep 27, 2015.</h5> </tr>
</table>
</div>
<div class="col-md-2"></div>
</div>-->

</div>


</body>
</html>